# Ignore the models directory
models/

# Ignore the downloads directory
downloads/

# Ignore the backends directory
backends/

models/

data/

data/python/

environments/

ai_models/

rag_env/

rag_env_config.json

rag_data/

rag_data/databases/

rag_data/config/

rag_data/config/active_database.json    

rag_data/data/

rag_data/venv/

rag_data/logs/

rag_data/providers/

rag_data/cache/

rag_data/python/

python/

python_embedded/

.venv/

external_documents/

database/
downloads/
python/
providers/